<p>
  <ul>
  	<li>あなたが本当に実現したい、成し遂げたい目標を明確にし</li><br>
  	<li>スケジュールを立て</li><br>
  	<li>実現できるように管理する</li><br>
</p>

<br><br>

<p>
このアプリを使って、<br>
本当に実現したいことで<br>
あなたの人生を埋め尽くしてみませんか？
</p>

<%= link_to "次へ", '/phase_0' %>

