<p>
  <ul>
  	<li>あなたが本当に実現したい、成し遂げたい目標を明確にし</li>
  	<li>スケジュールを立て</li>
  	<li>実現できるように管理する</li>
</p>

<p>
このアプリを使って、<br>
本当に実現したいことで<br>
あなたの人生を埋め尽くしてみませんか？
</p>

<%= form_for @input_word, :url => '/phase_0' do |f| %>
  <div class="actions">
  	<%= f.submit '次へ' %>
  </div>
<% end %>