<h1>1</h1>

<p>
	あなたが本当は<br>
	一番欲しいものはなんですか？
</p>

<p>
  イマジネーションを最大限に拡げて、<br>
  入力してみましょう。
</p>


<%= form_for @input_word, :url => '/phase_3' do |f| %>
  <div class="field">
    <%= f.text_field :desire_1 %>
  </div>
  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>


